<a href="https://colab.research.google.com/github/Narae-210/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10000; print(type(a))

<class 'int'>

In [2]:
a = 1; a = float(a); print(type(a))
a

<class 'float'>

1.0

In [4]:
a = 1.2; a = int(a); print(type(a))
a
#int는 정수로 바꾸고, float는 실수로 바꿈!

<class 'int'>

1

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [5]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[0])

<class 'list'>
['1', '2', '3']
1

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [6]:
a = (1,'2', [3, 'this is tuple']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, 'this is tuple']

In [10]:
a =	{"lisa": 171, "chloe": 165, "lena": 161}
print(type(a))
print(a["lisa"])

<class 'dict'>
171

In [11]:
a=[(1,2,3), (3,6,9)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 6, 9)]